.header {
  @apply text-sm flex items-center py-1 justify-between bg-main2 sticky top-0 z-10;

  .nava {
    @apply flex justify-between items-center mr-4;

    .link {
      @apply px-6 py-1 text-main opacity-70 text-base transition-colors hover:opacity-100;
    }
  }
  .logo {
    @apply ml-4;

    img {
      @apply w-16;
    }
  }
}

@media (max-width: 680px) {
  .header {
    .nava {
      .link {
        font-size: 12px;
        padding: 0px 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .hamburger__menu {
    display: block;
  }
  .header {
    .nava {
      .link {
        font-size: 10px;
        padding: 0 5px;
      }
    }
  }

}