.article {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 500px;
    padding: 1rem;
    border: 2px solid #e7a007;
    border-radius: 30px;
    width: 45%;
    transition: .3s;
}

.article:hover {
    transform: translateY(-5px);
}

.article__title {
    font-size: 1.8rem;
    padding-bottom: 5px;
    height: 24%;
}

.article__description {
    height: 66%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article__author {
    color: #e7a007;
    text-align: right;
    margin-top: 23px;
    a {
        border: 2px solid #e7a007;
        font-weight: 600;
        color: #e7a007;
        padding: 5px 15px;
        border-radius: 15px;
        transition: .3s  linear;
    }
    a:hover {
        color: #28292e;
        background-color: #e7a007;
        border-color: #fff;
    }
}
