.subscription {
    width: 80%;
    margin: 0 auto;
    margin-top: 85px;
}

.subscription__title {
    text-align: center;
    font-size: 2rem;
    color: #e7a007;
    margin-bottom: 40px;
}

.subscription__authors {
    @apply flex;
    flex-wrap: wrap;
    justify-content: space-between;
}