.header {
  &__left {
    @apply flex flex-col w-3/12 text-xl items-center;
  }

  &__block {
    @apply grid grid-cols-2;
  }

  &__item {
    @apply text-base text-slate-100 text-center m-0.5 rounded hover:cursor-pointer;
  }

  &__firstItem {
    @apply text-lg mb-1 text-main3;
  }

  &__upItem {
    @apply rounded-t bg-main border-b text-main2;
  }

  &__downItem {
    @apply rounded-b bg-main text-main2 hover:bg-amber-600;

    &_active {
      @apply rounded-b bg-amber-600 text-main2 hover:bg-main2 hover:text-main duration-200;
    }
  }
}

@media (max-width: 1380px) {
  .header {
    &__left {
      margin-left: 10px;
    }
    &__firstItem {
      text-align: center;
    }
  }
}

@media (max-width: 800px) {
  .header {
    &__firstItem {
      font-size: 15px;
      line-height: 1.2;
    }
  }
}

@media (max-width: 980px) {
  .header {
    &__block {
      @apply grid-cols-1;
    }
    &__upItem {
      font-size: 10px;
      line-height: 1.2;
    }
    &__downItem {
      font-size: 10px;
      &_active {
        font-size: 10px;
      }
    }
  }
}