.header {
  @apply bg-main2 py-4 pt-2 w-9/12 mx-auto rounded-md flex flex-col overflow-hidden max-h-96 duration-200;
  transition: max-height 0.2s ease-in-out;

  &__left {
    @apply flex flex-col w-3/12 text-xl items-center;

    &_item {
      @apply text-lg text-slate-100 h-fit bg-main px-2 m-1 py-0.5 rounded hover:text-main hover:bg-main2 hover:cursor-pointer duration-200;
    }
  }

  &__center {
    @apply w-8/12 flex;

    &_left {
      @apply w-1/2 text-center;
    }

    &_right {
      @apply w-1/2 text-center;
    }
  }

  &__firstItem {
    @apply text-lg mb-2 text-main3;
  }

  &__rotate {
    @apply rotate-180;
  }

  &__preview {
    @apply flex items-center justify-around duration-200;
  }

  &__top {
    @apply flex pb-1.5 justify-between;
  }
}

.header__closed {
  max-height: 75px;
  transition: max-height 0.2s ease-in-out;
}

.opacityZero {
  @apply opacity-0 duration-200;
}

@media (max-width: 1380px) {
  .header {
    max-height: 40rem;
  }
}

@media (max-width: 800px) {
  .header {
    &__firstItem {
      font-size: 15px;
      line-height: 1.2;
    }
  }
}