.main {
  width: 80%;
  margin: 0 auto;
  margin-top: 85px;
  z-index: 1;
}

.title {
  color: #e7a007;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.block__articles {
  @apply flex;
  flex-wrap: wrap;
  justify-content: center;
}

.authors__authors {
  @apply flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
