.profile {
  &__title {
    @apply pb-2 mt-6 border-b-2 border-main text-center mx-auto w-7/12 text-3xl text-slate-200;
    color: #e7a007;
  }

  &__button {
    @apply bg-main px-10 cursor-pointer duration-200 hover:bg-main2 hover:text-main;
  }

  &__sidebar {
    @apply fixed duration-300;
    right: -15%;

    &_open {
      @apply fixed right-0 duration-300;
    }
  }

  &__info {
    @apply flex justify-center items-center my-5 w-9/12 mx-auto;
    @media (max-width: 1100px) {
      width: 100%;
    }
    @media (max-width: 530px) {
      flex-wrap: wrap;
      :nth-child(1) {
        order: 1;
      }
      :nth-child(2) {
        order: 0;
      }
      :nth-child(3) {
        order: 2;
      }
    }

    &_item {
      @apply w-3/12;
      @media (max-width: 1100px) {
        width: 30%;
      }
      @media (max-width: 810px) {
        width: 32%;
      }
      @media (max-width: 530px) {
        width: 100%;
      }
    }
  }

  &__bottom {
    @apply w-7/12 mx-auto pr-4 mb-6;
    @media (max-width: 1100px) {
      width: 90%;
    }
  }
}
