footer {
  .footer {
    @apply flex justify-around py-1 items-center;

    &__title {
      @apply font-bold mb-1;
      color: #e7a007;
      border-color: #e7a007;
      font-size: 1rem;
    }

    &__column {
      @apply text-center;
    }

    &__left {
      @apply flex w-2/6 justify-around;
    }

    &__center {
      @apply w-2/6 flex flex-col;
    }

    &__right {
      @apply w-2/6 flex justify-center;
    }

    &__link {
      @apply pt-1.5 text-sm;
      a {
        color: #fff;
        transition: 0.3s;
        border-bottom: 2px solid #222327;
      }

      a:hover {
        border-bottom: 1px solid #fff;
      }
    }
  }

  .footerDown {
    @apply border-t-2 border-slate-500 pt-2 mx-auto w-fit;
  }
}
